*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}


.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 5;
background: #f5f5dc;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.navbar  .nav-menu{
    display: flex;
    gap: 10px;
}


.nav-logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 140px;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-image-wrapper img{
height: 400px;
width: 400px;
border-radius: 100%;
}

.nav-menu .nav-item .nav-link{
    color: #452b1f;
}

.navbar  .nav-menu .nav-link{
padding: 10px 18px;
border-radius: 20px;
font-weight: bold;
transition: 0.3s ease;
font-family: sans-serif;
}

.navbar  .nav-menu .nav-link:hover{
    background:#452b1f ;
    color: white;
}


.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}



.hero-section{
    min-height: 100vh;
    background: #f0e4cc;
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}


.hero-section .hero-details .title{
    font-family: "popings",sans-serif;
    color: #452b1f;
}

.hero-section .hero-details  .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-weight: bold;
    color: #452b1f;
}

.hero-section .hero-details  .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-weight: bold;
}

.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}


/* Responsive media querry */



@media screen and (max-width: 900px) {
    
    
    .navbar :where(#menu-close-button, #menu-open-button) {
         display: block;
        

    }
    
    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    

    .navbar #menu-close-button{
        color: #452b1f;
        font-size: 30px;
    }
    
    .navbar #menu-open-button{
        color: #452b1f;
        font-size: 30px;
    }

    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: white;
        transition: left 0.2s ease;
        

    }


    body.show-mobile-menu .navbar .nav-menu{
        left: 0;
    }

      .navbar .nav-menu .nav-link {
      font-weight: bold;
      color: #452b1f;
      display: block;
      margin-top: 17px;
}
}